
* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
    
}

body {
    background-color: #eba611;
    font-family: 'Arial', Arial, Helvetica, sans-serif;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
